* {
    margin: 0;
    box-sizing: border-box;
}
hr {
    border-top: 1px solid lightgray;

}
.container {
    background-color: #e4f1f5;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 50px;
    width: 100vw;
    height: 100vh;    
}
.displayflex {
    display: flex;
    flex-direction: row;
}
.displayflexcolumna {
    display: flex;
    flex-direction: column;
}
.spacebetween {
    justify-content: space-between;
}
.fuente {
    font-family: 'Open Sans',Helvetica,Arial,sans-serif;
}
.fuente-h1 {
    font-weight: 300;
}
.fuente-boton {
    font-weight: 700
}
.margen-izquierdo-15 {
    margin-left: 15px;
}
.margen-superior20 {
    margin-top: 20px;
}

.boton {
    background-color: red;
    color: white;
    border: 1px solid red;
    border-radius: 25px;
    padding: 10px 15px 10px 15px;
    cursor: pointer;
    transition: 0.4s;

}
.boton:hover {
    background-color: white;
    color: red;
    border: 1px solid red;
    border-radius: 25px;
    padding: 10px 15px 10px 15px;
    cursor: pointer;
    transition: 0.4s;

}

.card {
    background-color: ghostwhite;
    border: 1px solid gray;
    border-radius: 15px;
    width: 20%;
    height: 170px;
}
.card-alto {
    background-color: ghostwhite;
    border: 1px solid gray;
    border-radius: 15px;
    width: 20%;
    height: 355px;
}
.doscards {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    width: 20%;
    height: 170px;
}
.rex {
    width: 20%;
    margin-left: 16px;
    margin-top: 10px;
}
.dexter {
    width: 70%;
    margin-left: 20px;
    margin-top: 10px;
    background-color: #FFFFFF;
}
.titulorex {
    margin-left: 16px;
    margin-right: 20px;
    margin-top: 10px;
    font-size: 17px;
}
.pierex {
    margin-left: 16px;
    margin-right: 20px;
    margin-top: 25px;
    margin-bottom: 5px;
    font-size: 12px;
}

.cajadexter-stock {
    display: flex;
    flex-direction: row;
}